@import url("./_photosession");
@import url("./_video");
@import url("./_photosession_feedback");
@import url("./_photosession_list");
@import url("./_photos");
@import url("./_sponsor");
@import url("./_photographer");

.main-content {
  padding: 0 350px 0 391px;
  box-sizing: border-box;
  @media screen and (max-width: 1500px) {
    padding: 0 120px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 40px;
  }
  @media screen and (max-width: 320px) {
    padding: 0 13px;
  }
}