.photographer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 220px;
  color: #37373F;
  &_position {
    margin-top: 30px;
  }
  &__image {
    width: 139px;
    height: 139px;
    border-radius: 50%;
    margin-bottom: 23px;
  }
  &__text {
    &-wrapper {
      text-align: center;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    &-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }
    &-additional {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 11px;
    }
    &-show-more {
      font-size: 14px;
      line-height: 21px;
      &-link {
        color: #5286EC;
      }
    }
  }
}