.photosession-feedback {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 21px;
  border-bottom: 0.5px solid #C7C7C7;
  @media screen and (max-width: 360px) {
    text-align: center;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }
  &-title {
    padding: 8px 0 0 10px;
  }
  &-image {
    &_second {
      margin: 5px 0 0 14px;
    }
  }
}