.video-block {
  width: 554px;
  height: 374px;
  background-color: #9ae2f4;
  position: relative;
  overflow: hidden;
  &__iframe {
    transition: all 1s;
    display: none;
    filter: opacity(0);
    &_visible {
      display: block;
      filter: opacity(1);
    }
  }
  &__image {
    cursor: pointer;
    transition: all .5s;
    position: absolute;
    &_hidden {
      filter: opacity(0);
      transform: translateY(100%);
    }
  }
}